body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    font-size: 16px;
    color: #666;
}



.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
